<div class="navbar701 navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container-fluid">
		  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="brand" href="//arjunsreedharan.org" style="padding: 10px 20px 10px !important; margin-left: -20px !important; float: left !important; color: #999 !important; font-weight:normal;">&nbsp;&nbsp;&nbsp;arjunsreedharan.org</a>
		  <div class="nav-collapse collapse">
		    <ul class="nav">
		      <li class="active"><a href="/">Blog</a></li>
		      <li><a href="/about#about">About</a></li>
		      <li><a href="/about#contact">Contact</a></li>
		      <li><a href="/archives">Archives</a></li>
		    </ul>
		    <a rel="author" class="btn btn-primary pull-right hidden-desktop" target="_blank" href="//plus.google.com/114343156450474164385?rel=author">Google+</a>
		    <a class="btn btn-primary pull-right hidden-desktop" target="_blank" href="//linkedin.com/pub/arjun-sreedharan/5b/89/8a9">LinkedIn</a>
		    <a class="btn btn-primary pull-right hidden-desktop" target="_blank" href="//github.com/arjun024">Github</a>
		    <a class="btn btn-primary pull-right hidden-desktop" target="_blank" href="//facebook.com/arjun024">Facebook</a>
		    <a class="btn btn-primary pull-right hidden-desktop" target="_blank" href="//twitter.com/arjun024">Twitter</a>
		  </div><!--/.nav-collapse -->
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="./2.3.1-bootstrap-combined.min.scoped.css"/>